---
layout: default
---

<h1 id="posts-label">我的个人碎碎念</h1>

<script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
 {% raw %}
    <script>
    var img ="https://cdn.jsdelivr.net/gh/hoshinoa-0303/hoshinoa-0303.github.io@v.1.1.0/assets/portfolio.png";
    var appID ="cMSJ2koXocNhx96t0wATpOnQ-MdYXbMMI";
    var appKEY ="1soz9Jwl2aKchES07nNzCgBI";
    var per ="5";
    var username = "Hoshino_Arisa"; 
    var lazy = 1; 
    </script>
    {% endraw %}
<div id="lazy"></div>
<div id="artitalk"></div>
<script type="text/javascript" src="https://unpkg.com/artitalk"></script>
